@import "_config.scss";
body {
  font-family: 'Alegreya Sans';
  box-sizing: border-box;
}

// ******** HEADER **********
// CONTAINS NAVIGATION LINKS
// AT THE TOP OF EVERY PAGE

.navbar {
  width: 100%;
  position: fixed;
  background-color: transparent;
  -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
  transition: background-color 1s;
  top: 0;
  left: 0;
  height: 80px;

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2%;

    .spacer {
      flex: 1;
    }

    .logo {
      position: absolute;
      top: 50%; left: 2%;
      @include translateY(-50%);
      width: 200px;
      //background-color: $white;

      img {
        max-width: 100%;
      }
    }

    .items {


      .list {
        padding: 0;
        margin: 0;
        display: flex;

        li {
          list-style-type: none;
          padding-right: 20px;

          a {
            font-size: 19px;
            line-height: normal;
            color: $white;

            &:hover, &:focus, &:active {
              text-decoration: none;
              color: $mainOrange;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .items {
    opacity: 1 !important;
  }
}

.burger-button {
  display: none;
}

@media screen and (max-width: 600px) {
  .burger-button {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  .navbar {
    height: 100%;
    position: absolute;
    background-color: transparent !important;

    nav {

      .logo {
        position: absolute;
        top: 30px;
        left: 10px;
        width: 150px;
      }

      .items {
        height: 100%;
        background-color: $lightGrey;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        .list {
          height: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 15%;

          li {
            margin: 0.5rem 0;

            a {
              color: $darkGrey;
              text-decoration: none;
              font-size: 2em;

              &:hover, &:active {
                color: $mainOrange;
              }
            }
          }
        }
      }
    }
  }
}

// ********* HEADING DIV *********
// CONTAINS TITLE OF PAGE
// STYLED FOR EACH PAGE
.heading {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 5% 0;
  height: 550px;
  text-align: center;


  h1 {
    font-size: 5em;
    padding-top: 130px;
    padding-bottom: 1%;
    color: $white;
  }

  p {
    color: $white;
    font-size: 2em;
    //font-weight: bold;
  }
}

.main {
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.3), rgba(#a6551a, 1)), url('../img/tree.jpg');
  background-position: 50% 40%;
}

.about {
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.3), rgba(117, 19, 93, 0.73)), url(https://s.wsj.net/public/resources/images/MW-GW736_506d44_ZG_20181030180200.jpg);

  h1 {
    //padding-top: 15%;
  }
}

.program {
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.3), rgba(117, 19, 63, 0.73)), url('../img/program.jpg');

  h1 {
    //padding-top: 15%;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    padding: 50px;
    height: 400px;
    background-size: auto;

    h1 {
      font-size: 3.25em;
      padding-top: 30px;
    }

    p {
      font-size: 1.2em;
      color: $white;
    }
  }

  .about, .program {
    height: 400px;
    background-size: cover;
    background-position: center;
    h1 {
      padding-top: 100px;
    }
  }
}


// ********* MAIN PAGE CONTAINER *********
// MAIN PAGE BODY
// INDIVDUAL SECTIONS STYLED BY CLASS
.container-fluid {
  padding: 0;

  p {
    margin: 0;
    padding: 0 0 5px;
  }
}

// ******** INTRO AND OFFER **********
// TOP SECTIONS OF HOME AND PROGRAM PAGES
// STYLED WITH SIMILAR CSS
// INDIVIDUAL CHANGES BELOW
.intro, .offer, .founders, .audience {
  background-color: $white;
  padding: 7% 5% 10%;
  margin: 0;
  text-align: left;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      position: relative;

      h2 {
        text-align: left;
        font-size: 2.5em;
        //padding-top: 10%;
        padding-top: 1%;
        padding-bottom: 3%;
        color: $black;
        font-weight: bold;
      }

      p {
        color: $darkGrey;
        text-align: left;
        font-size: 1em;
        padding-bottom: 3%;
        line-height: 1.5em;
      }

      img {
        max-width: 90%;
        max-height: auto;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .paragraph {
      padding-left: 5%;
      padding-right: 2%;
    }
  }
}

.founders {
  .row {
    .column {
      padding-bottom: 100px;
    }

    img {
      border-radius: 50%;
    }
  }

  .chi {
    padding-top: 200px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .intro, .founders, .offer, .audience {
    padding: 12% 6%;
    z-index: 1;

    .row {
      flex-direction: column;
      height: 900px;
      justify-content: center;
      margin-left: 0;

      .image {
        height: 200px;

        img {
          max-width: 100%;
        }
      }

      .paragraph {
        padding: 2% 0;
      }

      .column {
        position: relative;

        h2 {
          font-size: 2em;
          padding-bottom: 25px;
        }
      }
    }
  }

  .founders {

    .row {
      .column {
        h2 {
          text-align: center;
          padding-bottom: 0;
        }

        h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }

    .tri, .chi {
      height: 1200px;
    }

    .chi {
      padding-top: 50px;

      .image-holder {
        padding-bottom: 0;
      }
    }
  }

  .offer, .audience {
    .row {
      .column {
        h2 {
          text-align: center;
        }
      }
    }
  }

  .audience {
    .row {
      height: 1150px;

      image {
        margin-bottom: 10%;
      }
    }
  }
}



// ******** QUOTE AND DESCRIPTION **********
// FOUND ON MAIN AND PROGRAM PAGES RESPECTIVELY
.quote, .description, .harvard {
  background-image: url('../img/bridge.jpg'), linear-gradient(rgba(85, 85, 85, 0.5),rgba(85, 85, 85, 0.5));
  background-blend-mode: overlay;;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 5% 0;
  height: 500px;

  h2 {
    color: $white;
    text-align: center;
    padding: 5% 5% 2%;
    font-size: 4em;

  }

  h3 {
    text-align: right;
    padding-right: 10%;
    color: $lightGrey;
    font-style: italic;
    font-size: 1.5em;
  }
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .quote {
    padding: 10% 5%;
    height: 400px;

    h2 {
      padding-top: 10%;
      font-size: 2.5em;
    }

    h3 {
      font-size: 1.25em;
    }
  }
}

.description {
  height: auto;
  padding: 12% 5%;
  background-image: url('../img/mountains.jpg'), linear-gradient(rgba(161, 70, 21, 0.74), rgba(42, 102, 199, 0.49));

  p {
    text-align: center;
    color: $white;
    font-size: 2em;
  }
}

.harvard {
  height: auto;
  padding: 12% 5%;
  background-image: url('../img/harvard.jpg'), linear-gradient(to top, rgba(149, 73, 33, 0.73), rgba(204, 40, 0, 0.76));

  p {
    text-align: center;
    color: $white;
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .harvard, .description {
    padding: 10% 6%;
    height: 400px;

    p {
      font-size: 1.25em;
    }
  }
}

.pillars {
  padding: 9% 5%;
  background-color: $white;
  align-items: center;
  text-align: center;

  h2 {
    padding-bottom: 3%;
    font-size: 2.5em;
    font-weight: bold;
  }

  .rows {
    display: flex;
    padding: 0;
    overflow: hidden;

    .column {
      flex: 30%;
      padding: 15px;
      list-style-type: none;

      .image-holder {
        height: 200px;
        position: relative;
        //padding-bottom: 300px;

        img {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          //top: 0;
          bottom: 0;
        }
      }

      p {
        padding-top: 50px;
        color: $darkGrey;
        font-size: 1em;
        line-height: 1.5em;
      }
    }
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .pillars {
    .rows {
      flex-direction: column;
    }
  }
}

// ******** MISSION **********
// FOUND ON MAIN PAGE
.mission {
  padding: 10%;
  background-color: $white;
  text-align: center;

  h3 {
    color: $mainOrange;
    font-size: 1.5em;
  }

  h2 {
    color: $orangeRed;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 2%;
  }

  p {
    font-size: 1.25em;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .mission {
    padding: 100px 10%;
    h2 {
      font-size: 2.5em;
      padding-bottom: 20px;
    }
    p {
      font-size: 1em;
    }
  }
}


// ******** JOIN **********
// IDENTICAL SECTION
// FOUND ON HOME AND ABOUT PAGES
.join {
  padding: 12% 8%;
  margin: 0;
  text-align: left;
  background-color: $white;

  .rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      position: relative;
      padding: 5% 4%;
    }

    .paragraph {
      margin: auto;
      margin-right: 0;

      h2 {
        text-align: left;
        font-size: 2.5em;
        //padding-top: 10%;
        padding-bottom: 3%;
        color: $black;
        font-weight: bold;
      }

      p {
        color: $darkGrey;
        text-align: left;
        font-size: 1em;
        padding-bottom: 4%;
        line-height: 1.5em;
      }

      a {
        font-size: 1.5em;
        color: $mainOrange;

        &:hover {
          text-decoration: none;
          color: $orangeRed;
        }
      }
    }

    img {
      max-width: 90%;
      max-height: auto;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .join {
    //padding: 12% 6%;

    .rows {
      flex-direction: column;
      height: 900px;
      justify-content: center;
      margin-left: 0;

      .column {
        height: auto;
        margin: 0;
        padding: 20% 4%;
      }

      .paragraph {
        padding-top: 3%;
      }

      .image {
        //background-color: $lightGrey;
        margin: 0;
        padding: 0;

        img {
          max-width: 100%;
        }
      }
    }
  }
}




// ********* DONATION *********
// LINKS TO PAYPAL
// SEPARATE COMPONENT
// PRESENT ON EACH PAGE
.donate {
  height: 600px;
  padding: 12% 0;
  display: inline-block;
  text-align: center;
  width: 100%;


  background-image: url(https://i.redd.it/yx2xr73lx7i21.jpg);
  background-blend-mode: overlay;;
  background-repeat: no-repeat;
  background-position: 20% 55%;

  .donateInfo {
    width: 50%;
    margin: auto;

    p {
      color: $mainOrange;
      padding-bottom: 3%;
      font-size: 1.25em;
    }

    h3 {
      font-size: 1.5em;
      color: $lightGrey;
      line-height: 1.25em;
      font-weight: normal;
    }

    .btn-primary {
      width: 150px;
      margin: 5%;
      font-size: 1.1em;
      border-radius: 10px;
      border-color: transparent;
      background-color: $orangeRed;
      opacity: 1;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .donate {
    padding: 12% 5%;
    height: 500px;
    .donateInfo {
      padding: 10% 0;
      width: 90%;

      h3 {
        font-size: 1.25em;
      }
    }
  }
}


// ********* FOOTER *********
// CONTAINS COPYRIGHT AND SOCIAL media
// INCLUDED ON EVERY PAGE
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $darkGrey;

  .copyright {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    font-size: 0.75em;
    color: $lightGrey;
  }

  .social-footer {
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */

    .socials {
      padding: 25px 0 0;
      float: right;

      a {
        margin: 0 1rem;
        transition: transform 250ms;
        display: inline-block;

        &.social:hover {
          transform: translateY(-2px);
        }

        &.social {
          color: #a6a6a6;
          font-size: 0.75em;
        }
      }
    }
  }
}
